/* CSS DIRECTORY
  0. =VARIABLES
	1. =GLOBAL
	2. =HEADER
	3. =DISPLAY
	4. =CALCULATOR
	5. =FOOTER
  6. =THEME 1
  7. =THEME 2
  8. =THEME 3
*/

/* ===VARIABLES=== */

:root {
  --main-bg-color-1: hsl(222, 26%, 31%);
  --keypad-color-1: hsl(223, 31%, 20%);
  --screen-color-1: hsl(224, 36%, 15%);

  --dark-blue-keys: hsl(225, 21%, 49%);
  --dark-blue-keys-shadow: hsl(224, 28%, 35%);

  --red-keys: hsl(6, 63%, 50%);
  --red-keys-shadow: hsl(6, 70%, 34%);

  --grayish-orange-keys: hsl(30, 25%, 89%);
  --grayish-orange-keys-shadow: hsl(28, 16%, 65%);

  --dark-grayish-blue: hsl(221, 14%, 31%);
  --white: hsl(0, 0%, 100%);

  --main-bg-color-2: hsl(0, 0%, 90%);
  --keypad-color-2: hsl(0, 5%, 81%);
  --screen-color-2: hsl(0, 0%, 93%);

  --dark-cyan-keys: hsl(185, 42%, 37%);
  --dark-cyan-keys-shadow: hsl(185, 58%, 25%);

  --orange-keys: hsl(25, 98%, 40%);
  --orange-keys-shadow: hsl(25, 99%, 27%);

  --grayish-yellow-keys: hsl(45, 7%, 89%);
  --grayish-yellow-keys-shadow: hsl(35, 11%, 61%);

  --dark-grayish-yellow: hsl(60, 10%, 19%);
  --black: hsl(0, 0%, 0%);

  --main-bg-color-3: hsl(268, 75%, 9%);
  --keypad-color-3: hsl(268, 71%, 12%);
  --screen-color-3: hsl(268, 71%, 12%);

  --dark-violet: hsl(281, 89%, 26%);
  --dark-violet-shadow: hsl(285, 91%, 52%);

  --pure-cyan: hsl(176, 100%, 44%);
  --pure-cyan-shadow: hsl(177, 92%, 70%);

  --very-dark-violet: hsl(268, 47%, 21%);
  --very-dark-violet-shadow: hsl(290, 70%, 36%);

  --light-yellow: hsl(52, 100%, 62%);
}

/* ===GLOBAL=== */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

*,
*::after,
*::before,
button {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 3rem;
  padding-bottom: 7rem;
  position: relative;
  min-height: 100vh;
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container {
  width: 85%;
  max-width: 32.5rem;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 55rem;
  }
}

/* ===HEADER=== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid black;
}

.header__title {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: lowercase;
}

.header__theme {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
}

.header__label {
  grid-row: 2;
  grid-column: 1;
  padding: 0 5px;
}

.header__numbers {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

.header__numbers span {
  padding: 2px;
}

.header__selector {
  grid-row: 2;
  grid-column: 2;
  width: 70px;
  height: 20px;
  position: relative;
  border-radius: 5rem;
  background-color: black;
}

.header__selector--round {
  height: 15px;
  width: 15px;
  background-color: white;
  position: absolute;
  top: 2.5px;
  border-radius: 50%;
  transition: all 0.3s;
}

.header__label {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* ===DISPLAY=== */

.display {
  border: 2px solid black;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 2rem;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: right;
}

/* ===CALCULATOR=== */

.calculator {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.6rem;
}

@media screen and (min-width: 900px) {
  .calculator {
    gap: 2rem;
  }
}

.calculator__btn {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  border: none;
  padding: 1.6rem 0;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 1);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.calculator__btn:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 1);
}

.calculator__btn--span-2 {
  grid-column: span 2;
}

.calculator__btn--2 {
  text-transform: uppercase;
}

/* ===FOOTER=== */

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid black;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  line-height: 1.4;
}

/* ===THEME 1=== */

.theme-1 {
  background-color: var(--main-bg-color-1);
}

.theme-1 .header {
  color: var(--white);
  border: none;
}

.theme-1 .header__selector {
  background-color: var(--screen-color-1);
}

.theme-1 .header__selector--round {
  background-color: var(--red-keys);
}

.theme-1 .header__selector--round {
  left: 4px;
}

.theme-1 .display {
  background-color: var(--screen-color-1);
  color: var(--white);
  border: none;
}

.theme-1 .calculator {
  border: none;
  background-color: var(--keypad-color-1);
}

.theme-1 .calculator__btn--1 {
  background-color: var(--grayish-orange-keys);
  box-shadow: 0px 5px 1px 0px var(--grayish-orange-keys-shadow);
  color: var(--dark-grayish-blue);
}

.theme-1 .calculator__btn--1:active {
  box-shadow: 0px 2px 1px 0px var(--grayish-orange-keys-shadow);
}

.theme-1 .calculator__btn--2 {
  background-color: var(--dark-blue-keys);
  color: var(--white);
  box-shadow: 0px 5px 1px 0px var(--dark-blue-keys-shadow);
}

.theme-1 .calculator__btn--2:active {
  box-shadow: 0px 2px 1px 0px var(--dark-blue-keys-shadow);
}

.theme-1 .calculator__btn--3 {
  background-color: var(--red-keys);
  color: var(--white);
  box-shadow: 0px 5px 1px 0px var(--red-keys-shadow);
}

.theme-1 .calculator__btn--3:active {
  box-shadow: 0px 2px 1px 0px var(--red-keys-shadow);
}

.theme-1 .attribution {
  background-color: var(--screen-color-1);
  border: none;
  color: var(--red-keys);
}

.theme-1 .attribution a {
  color: var(--red-keys);
}

/* ===THEME 2=== */

.theme-2 {
  background-color: var(--main-bg-color-2);
}

.theme-2 .header {
  color: var(--black);
  border: none;
}

.theme-2 .header__selector {
  background-color: var(--keypad-color-2);
}

.theme-2 .header__selector--round {
  background-color: var(--orange-keys);
}

.theme-2 .header__selector--round {
  left: 25px;
}

.theme-2 .display {
  background-color: var(--screen-color-2);
  color: var(--dark-grayish-yellow);
  border: none;
}

.theme-2 .calculator {
  border: none;
  background-color: var(--keypad-color-2);
}

.theme-2 .calculator__btn--1 {
  background-color: var(--grayish-yellow-keys);
  box-shadow: 0px 5px 1px 0px var(--grayish-yellow-keys-shadow);
  color: var(--dark-grayish-yellow);
}

.theme-2 .calculator__btn--1:active {
  box-shadow: 0px 2px 1px 0px var(--grayish-yellow-keys-shadow);
}

.theme-2 .calculator__btn--2 {
  background-color: var(--dark-cyan-keys);
  color: var(--white);
  box-shadow: 0px 5px 1px 0px var(--dark-cyan-keys-shadow);
}

.theme-2 .calculator__btn--2:active {
  box-shadow: 0px 2px 1px 0px var(--dark-cyan-keys-shadow);
}

.theme-2 .calculator__btn--3 {
  background-color: var(--orange-keys);
  color: var(--white);
  box-shadow: 0px 5px 1px 0px var(--orange-keys-shadow);
}

.theme-2 .calculator__btn--3:active {
  box-shadow: 0px 2px 1px 0px var(--orange-keys-shadow);
}

.theme-2 .attribution {
  background-color: var(--orange-keys);
  border: none;
  color: var(--white);
}

.theme-2 .attribution a {
  color: var(--white);
}

/* ===THEME 3=== */

.theme-3 {
  background-color: var(--main-bg-color-3);
}

.theme-3 .header {
  color: var(--light-yellow);
  border: none;
}

.theme-3 .header__selector {
  background-color: var(--keypad-color-3);
}

.theme-3 .header__selector--round {
  background-color: var(--pure-cyan);
}

.theme-3 .header__selector--round {
  left: 50px;
}

.theme-3 .display {
  background-color: var(--screen-color-3);
  color: var(--light-yellow);
  border: none;
}

.theme-3 .calculator {
  border: none;
  background-color: var(--keypad-color-3);
}

.theme-3 .calculator__btn--1 {
  background-color: var(--dark-violet);
  box-shadow: 0px 5px 1px 0px var(--dark-violet-shadow);
  color: var(--light-yellow);
}

.theme-3 .calculator__btn--1:active {
  box-shadow: 0px 2px 1px 0px var(--dark-violet-shadow);
}

.theme-3 .calculator__btn--2 {
  background-color: var(--very-dark-violet);
  color: var(--white);
  box-shadow: 0px 5px 1px 0px var(--very-dark-violet-shadow);
}

.theme-3 .calculator__btn--2:active {
  box-shadow: 0px 2px 1px 0px var(--very-dark-violet-shadow);
}

.theme-3 .calculator__btn--3 {
  background-color: var(--pure-cyan);
  color: var(--black);
  box-shadow: 0px 5px 1px 0px var(--pure-cyan-shadow);
}

.theme-3 .calculator__btn--3:active {
  box-shadow: 0px 2px 1px 0px var(--pure-cyan-shadow);
}

.theme-3 .attribution {
  background-color: var(--pure-cyan);
  border: none;
  color: var(--dark-violet);
}

.theme-3 .attribution a {
  color: var(--dark-violet);
}
